Repository DHandspikerWade/ci-tools: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_base, php7.2, php7.1, php5.6

build_base:
  image: docker:18
  stage: base
  services:
  - docker:dind
  script:
  - docker version
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USER" --password-stdin "$DOCKER_REGISTRY"
  - docker pull "$IMAGE_NAME" || true
  ...

php7.2:
  image: docker:18
  stage: depends
  services:
  - docker:dind
  script:
  - docker version
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USER" --password-stdin "$DOCKER_REGISTRY"
  - docker pull "$IMAGE_NAME" || true
  ...

php7.1:
  image: docker:18
  stage: depends
  services:
  - docker:dind
  script:
  - docker version
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USER" --password-stdin "$DOCKER_REGISTRY"
  - docker pull "$IMAGE_NAME" || true
  ...

php5.6:
  image: docker:18
  stage: depends
  services:
  - docker:dind
  script:
  - docker version
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USER" --password-stdin "$DOCKER_REGISTRY"
  - docker pull "$IMAGE_NAME" || true
  ...

Fixed composer install and bit of clean up
  base.Dockerfile
  php.Dockerfile
Due: build_base, php7.2, php7.1, php5.6

Make PHP images a bit smaller
  php.Dockerfile
Due: php7.2, php7.1, php5.6

Gave Gitlab too much credit
  .gitlab-ci.yml
Due: build_base, php7.2, php7.1, php5.6

typo
  .gitlab-ci.yml
Due: build_base, php7.2, php7.1, php5.6

Added a docker image
  .gitlab-ci.yml
  docker.Dockerfile
Due: build_base, php7.2, php7.1, php5.6

Added IMAGE_NAME variable
  .gitlab-ci.yml
Due: build_base, php7.2, php7.1, php5.6

Dogfood the build process
  .gitlab-ci.yml
  docker.Dockerfile
Due: build_base, php7.2, php7.1, php5.6

Installed credentials store
  docker.Dockerfile
Due: none

Remove dup install
  docker.Dockerfile
Due: none

Added other OCI build tools
  base.Dockerfile
  docker.Dockerfile
Due: build_base, php7.2, php7.1, php5.6

Clean up temp files leftover from PHP compile
  php.Dockerfile
Due: php7.2, php7.1, php5.6

Added a way to force updates
  .gitlab-ci.yml
Due: build_base, php7.2, php7.1, php5.6

Didn't work as expected
  .gitlab-ci.yml
Due: build_base, php7.2, php7.1, php5.6

PECL channel update
  php.Dockerfile
Due: php7.2, php7.1, php5.6

Added image for Ansible
  .gitlab-ci.yml
  ansible.Dockerfile
  base.Dockerfile
Due: build_base, php7.2, php7.1, php5.6

Fixed Ansible missing file warning
  ansible.Dockerfile
Due: none

Disable ansible python warning on ubuntu
  ansible.Dockerfile
Due: none

Include the PHP version in the build
  .gitlab-ci.yml
Due: build_base, php7.2, php7.1, php5.6

Fixed missing curl headers
  base.Dockerfile
Due: build_base, php7.2, php7.1, php5.6

Support test builds
  .gitignore
  .gitlab-ci.yml
  artifacts/.gitkeep
  base.Dockerfile
Due: build_base, php7.2, php7.1, php5.6

Added needed libraries for PHP 7.3/4
  .gitlab-ci.yml
  php.Dockerfile
Due: build_base, php7.2, php7.1, php5.6

Include GD for Drupal 8
  php.Dockerfile
Due: php7.2, php7.1, php5.6

Ensure the base image is also pushed to DockerHub
  .gitlab-ci.yml
Due: build_base, php7.2, php7.1, php5.6

Fixed typo in .gitlab-ci.yml
  .gitlab-ci.yml
Due: build_base, php7.2, php7.1, php5.6

Update '.gitlab-ci.yml'
  .gitlab-ci.yml
Due: build_base, php7.2, php7.1, php5.6

Try building with upped version numbers for everything
  .gitlab-ci.yml
  base.Dockerfile
  docker.Dockerfile
Due: build_base, php7.2, php7.1, php5.6

Docker no longer using BTRFS
  base.Dockerfile
Due: build_base, php7.2, php7.1, php5.6

Lastest Composer no longer supports PHP <7.4
  .gitlab-ci.yml
  php.Dockerfile
Due: build_base, php7.2, php7.1, php5.6

Update NodeJS to version 18 (LTS)
  base.Dockerfile
Due: build_base, php7.2, php7.1, php5.6

Move PHP compile into new caching layer
  php.Dockerfile
Due: php7.2, php7.1, php5.6

New PHP versions
  .gitlab-ci.yml
Due: build_base, php7.2, php7.1, php5.6

podman and skopeo are now in offical repos
  docker.Dockerfile
Due: none

Missing pkgconfig in CI builds
  php.Dockerfile
Due: php7.2, php7.1, php5.6

Timezones are fun
  base.Dockerfile
Due: build_base, php7.2, php7.1, php5.6

Fixed OpenSSL
  php.Dockerfile
Due: php7.2, php7.1, php5.6

Set PHPUnit version
  php.Dockerfile
Due: php7.2, php7.1, php5.6

Podman uses Buildah, include that instead
  docker.Dockerfile
Due: none

Fixed incorrect deployment tag
  .gitlab-ci.yml
Due: build_base, php7.2, php7.1, php5.6

Added sqlite3 client to base image
  base.Dockerfile
Due: build_base, php7.2, php7.1, php5.6

Merged ci-conversion:
  .woodpecker/ansible.yml
  .woodpecker/base.yml
  .woodpecker/docker.yml
  .woodpecker/php.yml
  php.Dockerfile
Due: php7.2, php7.1, php5.6

Path conditions:
  build_base: any of: .gitlab-ci.yml, base.Dockerfile
  php7.2: any of: .gitlab-ci.yml, base.Dockerfile, php.Dockerfile
  php7.1: any of: .gitlab-ci.yml, base.Dockerfile, php.Dockerfile
  php5.6: any of: .gitlab-ci.yml, base.Dockerfile, php.Dockerfile
